.evaluation {
  background: $light-cyan;
  padding: 3em 1em;
  position: relative;
  z-index: 0;
}

.summary {
  background: url('../../img/resumen_evaluacion.png');
  height: 695px;
  margin: 0 auto 4em;
  max-height: 695px;
  max-width: 900px;
  width: 900px;

  .company {
    cursor: pointer;
    display: inline-block;
    height: 134px;
    position: absolute;
    width: 118px;
    z-index: 10;

    &.claro { margin-left: 298px;}
    &.telefonica { margin-left: 418px; }
    &.tigo-une { margin-left: 538px; }
    &.etb { margin-left: 658px; }
    &.directv { margin-left: 778px; }
  }
}

.evaluation-info {
  background: url('../../img/evaluation/claro.png');
  background-position: 0 90px;
  background-repeat: no-repeat;
  height: 785px;
  margin: 0 auto;
  max-height: 785px;
  max-width: 900px;
  position: relative;
  width: 900px;

  .complete-inform-link {
    bottom: 95px;
    height: 95px;
    margin-left: 167px;
    position: absolute;
    width: 145px;
    z-index: 10;
  }

  .company-evaluation-link {
    bottom: 16px;
    height: 70px;
    margin-left: 167px;
    position: absolute;
    width: 145px;
    z-index: 10;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    height: 90px;
    padding: 0;
    position: absolute;
  }

  li {
    border: 1px solid $zircon;
    border-right: 0;
    cursor: pointer;
    width: 20%;

    a {
      cursor: pointer;
      display: inline-block;
      height: 89px;
      position: relative;
      width: 100%;
    }

    img {
      padding-bottom: 10px;
    }

    .active {
      background: $oyster-bay;
    }

    &:last-child {
      border-right: 1px solid $zircon;
    }
  }
}
