.footer {
  background: $black;
  padding: 1em 0;
  text-align: center;

  a {
    color: $white;
    font-size: .8em;
    font-weight: 100;
    letter-spacing: .055em;
    text-decoration: none;
  }
}
