.sub-header {
  background: $sea-buckthorn;

  .cloud-link {
    margin-bottom: -3px;
    text-align: right;
  }

  p {
    color: $middle-dark;
    font-family: $main-font;
    font-size: 1.6em;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: $max-width-breakpoint - 200px;
    padding: 3em .5em;
    text-align: center;

    strong {
      font-weight: 400;
    }

  }
}
