$black: #1d1d1d;
$bokara-gray: #2a2525;
$eastern-blue: #1aa3b2;
$oyster-bay: #ceedf0;
$light-cyan: #e3fcff;
$middle-dark: 463d3d;
$sea-buckthorn: #fcac2c;
$trasparent: transparent;
$white-10: rgba($white, .1);
$white: #fff;
$zircon: #e1e1e1;
